:root{
    --background-color: #3C462D;
    --text-color: #D2CABC;
    --text-color-heading: #D8A353;
    --layer-color-1: #475137;
    --layer-color-2: #54623F;
    --btn-color: #6E8051;
    --border-radius: 5px;

}

body{
    height: 100vh;
    font-family: Crimson Text;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
}
/* BASE CLASS */
.primary__btn{
    background: var(--btn-color);
    color: var(--text-color);
}

.secondary__btn{
    background: var(--text-color);
    color: var(--btn-color);
}

.d-off{
    display: none !important;
}
/* HEADER SECTION START */

body .header{
    height: 3.5rem;
    background: var(--text-color);
    color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: sticky;
    z-index:3;
    top:0;
}

.header__nav{
    display: flex;
}

.header__nav-item{
    padding: 0 1.5rem;
    font-size: 1.6rem;
    font-family: Italianno;
}

.header__nav-item:hover{
    border-bottom: 3px solid var(--btn-color);
    cursor: pointer;
}

@keyframes slide-right-to-left {
    from{
        transform: translateX(50%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-left-to-right {
    from{
        transform: translateX(-50%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}
/* HEADER SECTION END*/

/* HERO SECTION START */
.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero__img{
    background: url("./images/v1_6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 40%;
    height: 100%;
    animation: slide-right-to-left linear 1s;
}

.hero__content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    width: 60%;
    animation: slide-left-to-right linear 1s;
}

.hero__content-block{
    width: 40%;
    height: 25rem;
    background: var(--layer-color-1);
    position: relative;
}

.hero__content-block span{
    font-family: Italianno;
    font-size: 4rem;
    color: var(--text-color-heading);
    position: absolute;
    top: -3.4rem;
    left: -0.5rem;
}

.hero__content-block p{
    position: absolute;
    width: 25rem;
    top: 2rem;
    left: -5rem;
    font-size: 1.2rem;
}

.hero__content-block div{
    position: absolute;
    top: 15rem;
    left: -5.5rem;
}

.hero__content-block > div > button{
    font-family: Crimson Text;
    font-weight: 600;
    width: 150px;
    padding: 1rem;
    margin:0 .5rem;
    border:none;
    border-radius: var(--border-radius);
    font-size: 1.1rem;
}

.hero__content-block > div > button:hover{
    opacity:0.8;
    transition:.3s;
    cursor: pointer;
}

.ptn1{
    position: absolute;
    top: 10.5rem;
    left:0;
}

.ptn1 img{
    width: 13rem;
    opacity: 0.6;
}

.ptn2{
    position: absolute;
    right: 13rem;
    top: 29rem;
}

.ptn2 img{
    opacity:0.8;
}

.ptn3{
    position: absolute;
    bottom: 5rem;
    left: 5rem
}
/* HERO SECTION END */

/* MENU SECTION START */
.menu{
    position: relative;
    height: 100vh;
}

.menu > img{
    position: absolute;
    z-index: 2;
    top:1.5rem;
    width: 15%;
    animation: slide-left-to-right linear 1s;
}

.menu__back-block{
    width: 80%;
    height: 90vh;
    background-color: var(--layer-color-1);
    position: absolute;
    top: 2rem;
    z-index: 1;
}

.menu__text-block{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    width: 18rem;
    position: absolute;
    right: 5rem;
    z-index: 2;
    top: 2rem;
    animation: slide-right-to-left linear 1s;
}

.menu__text-block span{
    font-size: 3rem;
    color: var(--text-color-heading);
    font-family: Italianno;
}

.menu__text-block p{
    font-size:1.4rem;
    margin: 0;
}

.menu__best-block{
    background: var(--layer-color-2);
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:6rem;
    padding:1rem 0 2rem;
    z-index: 2;
    animation: slide-left-to-right linear 1s;

}

.menu__best-block > span{
    font-size: 3rem;
    font-family: Italianno;
    color: var(--text-color-heading);
    margin-bottom: 2rem;
}

.grid__block{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 3rem;
}

.best__card{
    width: 350px;
    height: 300px;
    position: relative;
    background: var(--text-color);
    color: var(--layer-color-2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.best__card .dish__img{
    width: 100%;
    height: 250px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
}

.best__card span{
    text-align: center;
    margin-top: .5rem;
}

.best__card .star{
    position: absolute;
    top: .5rem;
    left: .5rem;
}

.menu__list-block{
    background: var(--layer-color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    right: 0;
    position: absolute;
    top: 14rem;
    z-index: 2;
    animation: slide-right-to-left linear 1s;

}

.menu__list-block span{
    color:var(--text-color-heading);
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0;
}

.menu__list-block ul{
    padding: 0;
    margin: 0;
}

.menu__list-block li{
    list-style: none;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
}

.menu__list-block > img{
    width: 100%;
}

/* MENU SECTION END */

/* ABOUT SECTION START */
.about{
    position: relative;
    height: 100vh;
    font-size: 1.2rem;
}

.about__img{
    position: absolute;
    width: 50%;
    height: 100%;
    background: url("./images/about.png");
    background-size: cover;
    z-index: 0;
    top:0;
    left:0;
    animation: slide-left-to-right linear 1s;
}

.about__content{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    right: 10rem;
    top: 5rem;
    padding: 2rem;
    background: var(--layer-color-2);
    animation: slide-right-to-left linear 1s;
}

.about__content > span{
    font-size: 3rem;
    font-family:Italianno;
    color: var(--text-color-heading);
}

.about__content > img{
    margin: 3rem 0;
}

.about__content ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.about__content > ul > li{
    text-align: center;

}

.about > img {
    position: absolute ;
    right: 0;
    bottom: 5rem;
    animation: slide-right-to-left linear 1s;
}



/* ABOUT SECTION END */

